Name: isslfix
Package: isslfix
Priority: optional
Version: 1.1
Architecture: iphoneos-arm
Description: fixes iOS SSL vulnerability CVE-2011-0228
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=isslfixData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=isslfixData
Sponsor: thebigboss.org <http://thebigboss.org>
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: jan0 <jan0@free.fr>
Section: System
Tag: purpose::extension
Installed-Size: 10
dev: jan0
